* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    height: 100vh;
    font-family: 'Roboto', sans-serif;

}

/* HEADER */ 
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 1em 7em 0 7em;
}

.nav .left{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.nav .right{
    display: flex;
    gap: 15px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #E5e7eb;
    font-size: 18px;
}

/* HERO */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 4em 7em;
}

.hero .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.hero .right{
    display: flex;
    flex-shrink: 0;
    height: 200px;
    width: 50%;
    background-color: #868686;
    justify-content: center;
    align-items: center;
}

.hero h2{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero .left p{
    font-size: 18px;
    color: #E5E7EB;
}

.hero button{
    background-color: #3882F6;
    color: white;
    width: 120px;
    border-radius: 5px;
    padding: 7px 1em;
    border: none;
}


/* IMAGE SLIDER */
.image-slider{
    text-align: center;
    padding: 3em;
}

.image-slider h2{
    color: black;
    font-size: 30px;
}

.image-container{
    margin-top: 2em;
    display: flex;
    flex: auto;
    gap: 18px;
    flex-wrap: wrap;
    justify-content: center;

}
    
.card{
    color: #E5E7EB;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    border: 4px solid #3882f6;
    border-radius: 20px;
    width: 150px;
    height: 150px;
    margin-bottom: 1em;
}

/* QUOTE */
.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    padding: 3em;
    gap: .5em;
}

.quote em{
    font-weight: 100;
}

.quote strong{
    font-size: 24px;
    align-self: flex-end;
}

/* Call to action*/
.cta{
    padding: 4em;
}

.cta p{
    color: #E5E7EB;
}
.cta-inner{
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    gap: 10em;
    align-items: center;
}

.cta-inner button{
    background-color: #3882F6;
    color: white;
    width: 120px;
    border-radius: 5px;
    padding: 7px 1em;
    border: 2px solid white;
    text-align: center;
}


.hero,
header,
footer{
    background-color: #1F2937;
}


footer{
    text-align: center;
    padding: 2em 0;
    color: #E5E7EB;
}