* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    height: 100vh;
}

/* HEADER */ 
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 1em 10em;
}

.nav .left{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.nav .right{
    display: flex;
    gap: 15px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #E5e7eb;
    font-size: 18px;
}

/* HERO */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 4em 7em;
}

.hero .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.hero .right{
    display: flex;
    flex-shrink: 0;
    height: 200px;
    width: 50%;
    background-color: #868686;
    justify-content: center;
    align-items: center;
}

.hero h2{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero .left p{
    font-size: 18px;
    color: #E5E7EB;
}

.hero button{
    background-color: #3882F6;
    color: white;
    width: 120px;
    border-radius: 5px;
    padding: 7px 1em;
    border: none;
}

.section{
    display: flex;
    flex: 1;
    justify-content: center;
}




.hero,
header,
footer{
    background-color: #1F2937;
}

.cta .cta-inner{
    background-color: #3882F6;
    color: white;
}

.btn{
    border-color: white;
}

footer{
    text-align: center;
}